@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;
main {
    width: 100%;
}

section {
    @include flex-column($espaciado-medio);
    padding: $espaciado-medio;
    margin-bottom: $espaciado-grande;
}

h1 {
    font-size: 30px;
    color: $color-texto;
}

h2 {
    font-size: 26px;
    color: $color-texto;
}

h3 {
    font-size: 20px;
    color: $color-texto;
}

p {
    font-size: 16px;
    color: $color-texto;
}

.opiniones {
    display: grid;
    grid-template-areas:
        "titulo"
        "contenido";
    gap: $espaciado-medio;
    background-color: $color-claro;
    padding: $espaciado-medio;
    border-radius: $radio-borde;

    h2 {
        grid-area: titulo;
    }

    .opinion_contenedor {
        @include flex-column($espaciado-medio);
    }

    @media (min-width: 1024px) {
        .opinion_contenedor {
            flex-direction: row;
        }
    }
}