// VARIABLES

// COLORES
$color-fondo: #e37f7f;
$color-claro: #eaecee;
$color-texto: #291d1b;
$color-texto-secundario: #0f0d0d;
$color-contacto: #f4efef;
$color-blanco: #ffffff;
$color-acento: #5a2020; // contraste AA sobre fondos claros y rosa

// FUENTES
$font-principal: "Google Sans Flex", sans-serif;

// MEDIDAS
$radio-borde: 10px;
$espaciado-chico: 10px;
$espaciado-medio: 20px;
$espaciado-grande: 30px;