@use '../utilities/variables' as vars;

// Caja superior
.contacto-info {
    .contacto-item {

        label {
            color: vars.$color-texto;

            &:hover {
                color: vars.$color-acento;
            }
        }

        input:checked + label {
            color: vars.$color-acento;
        }}}
// Caja de datos de contacto
.datos-contacto {
    background-color: vars.$color-contacto;
    border-radius: vars.$radio-borde;
    padding: 30px;

    figure {
        margin-top: 10px;
    }
}
// Componente desplegable reutilizable
.contacto-item {
    margin-bottom: 15px;

    input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    label {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 10px 0;
        color: vars.$color-texto;
        font-weight: 600;
        cursor: pointer;

        transition: color 0.3s ease;

        &:hover {
            color: vars.$color-acento;
        }

        &::after {
            content: "+";
            font-size: 20px;

            transition: transform 0.3s ease;
        }
    }

    .contacto-descripcion {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        margin: 0;

        transition:
            max-height 0.4s ease,
            opacity 0.4s ease,
            margin 0.4s ease;
    }

    input:checked + label::after {
        transform: rotate(45deg);
    }

    input:checked ~ .contacto-descripcion {
        max-height: 180px;
        opacity: 1;
        margin: 10px 0 20px;
    }
}